fastapi
uvicorn
qdrant-client
google-genai
langdetect
python-dotenv

torch==2.2.2+cpu
torchvision==0.17.2+cpu
torchaudio==2.2.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

sentence-transformers